.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    
}
.top-nav {
    height: 150px;
    width: 900px;
    padding:10px;
    margin:10px;
    background-color: green;
    display: inline-block;
}
.side-nav {
    height: 300px;
    width: 200px;
    vertical-align: top;
    margin: 10px;
    background-color: blue;
    display: inline-block;
}
.main {
    height: 400px;
    width: 700px;
    padding:5px;
    background-color: red;
    display: inline-block;
}
.sub-content {
    height: 200px;
    width: 210px;
    margin: 5px;
    background-color: yellow;
    vertical-align: top;
    display: inline-block;
}
#advertisement {
    height: 120px;
    width: 660px;
    margin:10px;
    background-color: purple;
    display: inline-block;
}

